$pcolor: #f7f7f7;
$pdcolor: #384d54;
$scolor: #77a3b3;
$sdcolor: #53727d;
$slcolor: #8cc1d4;
$tcolor: #bad9e5;
$tran: rgba(0,0,0,0);
$trans: rgba(0,0,0,0.3); //translucent dark
$dtrans: rgba(255,255,255,0.3); //translucent light
$pfont: 'Fjalla One', sans-serif;
$sfont: 'Teko', sans-serif;
